.login-container {
  max-width: 600px;
  margin: 80px auto;
  height: 400px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 25px;
  text-align: center;
  background-color: #d98fb0;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.login-form button {
  padding: 20px;
  background: #c1477e;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}
.login-form button:hover {
  transform: translateY(-2px);
  background-color: #ba3370;
  color: #ffffff;
}
.login-form input:focus {
  outline: none;
  border-color: #7d2b4f;
  box-shadow: 0 0 0 4px rgba(125, 43, 79, 0.1);
}

@media (max-width: 768px) {
  .login-container {
    padding: 30px;
    margin: 40px auto;
  }

  .login-form input,
  .login-form button {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
  }

  .login-container h1 {
    font-size: 2.4rem;
  }

  .login-form {
    gap: 15px;
  }
}
