.logo a {
  height: 1.6;
  overflow: hidden;
}
.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  /* background-color: #fdf9f9; */
  background: linear-gradient(135deg, #eeaeca, #c5d4cb, #eb9dc0);
  height: 8.4rem;
  padding: 4.8rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  /* background: linear-gradient(135deg, #eeaeca, #c5d4cb, #eb9dc0); */
  border-bottom: 1px solid #b88282;
  position: absolute;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
}

.nav-links a:hover {
  color: #fc5f5f;
}

.nav-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.login-btn {
  padding: 6px 14px;
  background-color: #40e16e;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}
