.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 4.8rem;
  background: linear-gradient(135deg, #f0c1d5, #f5d3e1, #f0c1d5);
  height: 80px; /* FIXED height */
  padding: 0 40px; /* horizontal padding only */
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
}
.nav-text {
  font-size: 2rem;
  text-decoration: none;
}

img {
  height: 70px; /* CONTROL LOGO SIZE */
  width: auto;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 2rem;
}

.nav-link-arrow {
  padding: 1rem;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.nav-link-arrow:hover {
  background-color: #e182ab;
  transform: scale(1.05);
}

.nav-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 4rem;
}
.wis {
  text-decoration: none;
  transform: scale(1.05);
}
.login-btn {
  padding: 6px 14px;
  background-color: #40e16e;
  color: white;
  border-radius: 5px 25px 2px;
  text-decoration: none;
  font-size: 2rem;
}
.login-btn:hover {
  color: #d54d88;
  transform: scale(1.05);
}
